@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --animate-fade-in-down: fade-in-down 0.8s ease-out forwards;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
